.landing_page {
  height: 100%;
  overflow: hidden;
  .header {
    h1 {
      font-size: inherit;
      float: left;
    }

    .pure-menu {
    }
  }

  .head_display {
    text-align: center;
    padding: 50px;
    background: rgb(211, 239, 241);
    h3 {
      padding: 0;
      margin: 0;
    }
  }

  .landing_page_content {
    max-width: 1000px;
    padding: 30px;

    height: auto;
    background: rgba(255, 255, 255, 0.5);
    margin: auto;
    margin-top: 10px;
    > div > div {
      padding: 15px;
    }

    p {
      text-align: justify;
      line-height: 1.4em;
    }
    .image_container {
      text-align: center;
    }
  }

  //  @import "../../libs/scrolldown/css/onepage-scroll.css";
  //  @import "../../libs/scrolldown/css/style.css";
  //  @import "../../libs/scrolldown/css/default.css";

  .page_contents {
    height: 100%;
  }
  section {
    overflow: hidden;
    height: 100%;
    .page_container {
      color: white;
      text-align: center;
      position: relative;
      padding: 30px;
      height: 100%;

      h1.title {
        font-size: 2.5em;
      }
    }

    .vignet_container {
      width: 600px;
      margin: auto;
      .vignet {
        float: left;
        width: ~"calc(50% - 60px)";
        padding: 20px;
        margin: 30px;
        height: 400px;
        background: rgba(255, 255, 255, 0.49);
        p {

          margin-top: 20px;
          font-size: 1.3em;
          text-align: center;
        }

        .img_container {
          text-align: center;

          img {

          }
        }
      }
    }

    .explanation {
      width: 500px;
      margin: auto;
      font-size: 1.4em;

      font-style: italic;

    }

  }



  .page0 {
    background: rgb(99, 140, 167);

    @import "section0";
    .page_container {
      background: no-repeat url(/SmartBlocksSite/resources/images/stacked_blocks.png)  ~"calc(100% + 100px)" -100px;
      color: white;

    }
  }
  .page1 {
    @import "section1";
    color: white;
    background: #c4d1bf;
    .page_container {
      background: no-repeat url(/SmartBlocksSite/resources/images/up_arrow.png) -200px ~"calc(100% + 200px)";
      position: relative;
    }

  }

  .paginator {
    position: fixed;
    right: 10px;
    top: ~"calc(50% - 50px)";

    z-index: 500;
    a {
      color: white;
      &:hover {
        color: #a3c4e0;
      }

      &.current {
        color: #6F6F6F;
      }
    }
  }

  .page2 {
    background: rgb(133, 167, 156);
    @import "section2";
    .page_container {
      background: no-repeat url(/SmartBlocksSite/resources/images/check.png) left bottom;
      color: white;

    }
  }

  .page3 {
    background: rgb(107, 163, 191);
    @import "section3";
    @import "animations";
    .page_container {
      background: no-repeat url(/SmartBlocksSite/resources/images/explosion.png) -200px ~"calc(100% + 200px)";
    }
  }

  .page4 {
    background: rgb(142, 191, 185);
    @import "section4";
    @import "animations";
  }

}


