
@import "./resources/dist/css/bootstrap";

@import "./site_style";
@import  "apps/landing_page/style/landing_page.less";

.show_menu_button {
  font-size: 10px;
  margin-right: 20px;
  float:left;
  display: block;
}

.top_menu_bt {
  &:hover {
    background: rgba(0,0,0,0.05);
  }
}