<div class="header">
    SmartBlocks
</div>
<div class="sections_selector">
    <a class="section" data-page="what" href="javascript:void(0);">
        <strong>What's SmartBlocks</strong>
        <img src="/SmartBlocksSite/resources/blackboard.png"/>
    </a>
    <a class="section" data-page="learn" href="javascript:void(0);">
        <strong>Learn</strong>
        <img src="/SmartBlocksSite/resources/blackboard.png"/>
    </a>
    <a class="section" data-page="blocks" href="javascript:void(0);">
        <strong>Find blocks</strong>
        <img src="/SmartBlocksSite/resources/blackboard.png"/>
    </a>

    <div class="clearer"></div>
</div>
<div class="landing_content">
</div>