<div class="header">
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
            <li><a href="javascript:void(0);" class="left_menu_shower">
                <i class="fa fa-reorder"></i>
            </a></li>
            <li><a href="#" class="pure-menu-heading">SmartBlocks</a></li>
            <li><a href="#BlocksStore">Get Blocks</a></li>
            <li><a href="#Tutorials">Learn</a></li>
            <li><a href="#Documentation">Documentation</a></li>

        </ul>
    </div>
</div>
<div class="head_display">
    <h1>Invent the car, not the wheel.</h1>

    <h3>Recycle your features</h3>

    <p>
        SmartBlocks allows you to build web apps by assembling features blocks.
    </p>

</div>
<div class="landing_page_content pure-g-r">

    <div class="pure-u-1">
        <h2>Why SmartBlocks</h2>
    </div>
    <div class="pure-u-1-4">
        <div class="image_container">
            <img src="http://placehold.it/200x200"/>
        </div>
    </div>
    <div class="pure-u-1-4">
        <div>


            <p>
                As developers, when building web apps, we often find ourselves making the same basic features over and
                over.
            </p>

        </div>
    </div>
    <div class="pure-u-1-4">
        <div>
            <p>
                SmartBlocks gives you the possibility to start building your real features without starting over
                every time, reusing features you wrote instead of rewriting them.
            </p>

        </div>
    </div>
    <div class="pure-u-1-4">
        <div>

            <p>
                As developers, when building web apps, we often find ourselves making the same basic features over and
                over.
            </p>

        </div>
    </div>

    <div class="pure-u-1">
        <h2>Just drop'em</h2>
    </div>
    <div class="pure-u-1-4">
        <div>
            <p>
                To add blocks to your web app, you just need to drop its folder into the framework's plugins folder. And
                that's it.
                Then you can combine their features with your own blocks, and thus create a complex DNA for your web
                app.
            </p>
        </div>
    </div>

    <div class="pure-u-1-4">
        <div class="image_container">
            <img src="http://placehold.it/200x200"/>
        </div>
    </div>
    <div class="pure-u-1-4">
        <div>
            <p>
                Need to create a todo list system, but you want to be able to plan your tasks ? Just add
                the Time Block, which contains a calendar and events, that you can easily use within your tasks system.
                Need to add notifications when you're supposed to start a task ? Just add the Notifications block.
            </p>
        </div>
    </div>
    <div class="pure-u-1-4">
        <div class="image_container">
            <img src="http://placehold.it/200x200"/>
        </div>
    </div>



    <div class="pure-u-1">
        <h2>Live and local</h2>
    </div>
    <div class="pure-u-1-4">
        <div class="image_container">
            <img src="http://placehold.it/200x200"/>
        </div>
    </div>
    <div class="pure-u-1-4">
        <div>
            <p>
                SmartBlocks lets you create a single page web app, giving you tools to make the most of it.
            </p>
        </div>
    </div>
    <div class="pure-u-1-4">
        <div>
            <p>
                Your app
                needs
                to respond
                really fast ? No problem. Data synchronization is handled in the background.
            </p>
        </div>
    </div>
    <div class="pure-u-1-4">
        <div>
            <p>
                Your app's users need to
                collaborate live ?
                No problem either. SmartBlocks gives you a way to use websockets.
            </p>
        </div>
    </div>



</div>